* {
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  background-color: #333;
  color: #e4e6eb;
  width: 100vw;
  height: 56px;
  box-sizing: border-box;
  
  
}

.header-left {
  // flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
  gap: 10px;
}

.header-search {
  display: flex;
  align-items: center;
  background-color: #242526;
  border-radius: 20px;
  margin: 5px;

  input {
    border: none;
    outline: none;
    padding: 5px;
    width: 240px;
    background-color: transparent;
    color: #e4e6eb;

    &::placeholder {
      color: #b0b3b8;
    }
  }
}

.header-center {
  display: flex;
  align-items: center;
  // flex:5;
  background-color: #333;
  justify-content: center;
}

.header-options {
  padding: 10px 40px;
  padding-bottom: 5px;
  color: #bbb;
  border-radius: 8px;
  transition: background-color 0.3, color 0.3s;
  cursor: pointer;
  &:hover {
    color: #ccc;
    background-color: #444;
  }
}


.header-right {
  display: flex;
  align-items: center;
  margin-right: 50px;
  gap: 15px;
}

.header-icon {
  color: #e4e6eb;

  &:hover {
    color: #ccc;
  }
}

@media (max-width: 900px) {
  .header-center {
    display: none;
  }
   
}

@media (max-width: 1024px) {
  .header-search input {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 900px) {
  .header-search input {
    display: block; /* Hiển thị lại input */
  }
}

@media (min-width: 1025px) {
  .header-search input {
    display: block; 
  }
}