.sidebar {
   width: 250px;
   height: 100vh;
   padding: 20px;  
   margin-top: 50px;
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
   background-color: #f0f2f5;   
   position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 0;
}

.link {
    color:black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin:20px;
    display: block;
    border-radius: 5px;
}

.link:hover {
    background-color:  #e4e6eb;
    color:#333;
}

