

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // background-color: #1c1c1d; 

    .main-content {
        flex: 1;
        display: flex;
        overflow: auto;
    }
}

