.message {
  display: flex;
  justify-content: flex-start; 

  &.sent {
    justify-content: flex-end; 
  }

  &.received {
    justify-content: flex-start; 
  }
}

.message-box {
  max-width: 60%; 
  padding: 12px;
  border-radius: 20px;
  font-size: 14px;
  word-wrap: break-word; // Đảm bảo nội dung không bị tràn ra ngoài
}

.message-username {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 12px;
  color: #555;
}

.message-text {
  font-size: 14px;
}

.sent .message-box {
  background-color: #145718; 
  color: white;
  border-top-right-radius: 0; 
}

.received .message-box {
  background-color: #303030; 
  border-top-left-radius: 0; 
}

.message-time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.8em;
    color: #777;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 3px;
  }
