.message {
  display: flex;
  justify-content: flex-start;

  &.sent {
    justify-content: flex-end;
  }

  &.received {
    justify-content: flex-start;
  }
}

.message-box {
  max-width: 40%;
  padding: 12px;
  border-radius: 20px;
  font-size: 14px;
  word-wrap: break-word;
  display: flex;
  gap: 10px;
}

.message-username {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 12px;
  color: #555;
}

.message-text {
  font-size: 14px;
}

.img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.sent .message-text {
  background-color: #145718;
  color: white;

  padding: 10px;
  border-radius: 10px 0 10px 10px;
  
}

.sent .message-box {
  padding: -10px;
}

.received .message-text {
  background-color: #303030;
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
}
.received .message-box {
  display: flex;
  position: relative;
  margin-left: 25px;
  gap: 10px;
  .img {
    position: absolute;
    left: -25px;
    
  }
}

.message-time {
  position: absolute;
  bottom: 80px;
  right: 80px;
  font-size: 0.8em;
  color: #777;
  background: rgba(19, 17, 17, 0.8);
  padding: 2px 5px;
  border-radius: 3px;
}
