.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  background-color: #252728;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 700px;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.form-user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.description {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 14px;
  resize: vertical;
  min-height: 20px;
  background-color: #333334;
  color: white;
}

.form-input {
  display: none;
}

.form-preview {
  width: 100%;
  max-height: 400px;
  margin-top: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.line {
  width: 100%;
  border: 1px solid rgb(102, 99, 99);
  margin-top: 20px;
  margin-bottom: 10px;
}
.form-button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.custom-file-upload {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
}

.form-post {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(148, 143, 143);
  }
}
